<app-nav-bar ></app-nav-bar>
<div class="container">
    <h2>Welcome to our Todo list application!</h2>
    <p>Our mission is to help you stay organized, productive, and focused on your tasks. Whether you're a student, professional, or just someone who loves staying organized, our app is here to simplify your life.</p>
    <p>With our intuitive and user-friendly interface, you can easily create, manage, and track your tasks and to-do items. Stay on top of deadlines, set reminders, and prioritize your tasks to ensure nothing falls through the cracks.</p>
    
    <h3>Key Features:</h3>
    <ul>
      <li>Create and organize tasks effortlessly: Add new tasks, set due dates, and assign priorities with a few clicks.</li>
      <li>Stay focused with task reminders: Receive timely reminders to ensure you never miss an important deadline.</li>
      <li>Track your progress: Mark tasks as complete, view completed tasks, and gain a sense of accomplishment as you see your list shrink.</li>
      <li>Collaborate with others: Share your task lists with colleagues, friends, or family members for efficient teamwork and coordination.</li>
      <li>Customize your experience: Personalize the app with themes, colors, and layouts that suit your style and preference.</li>
    </ul>
    
    <p>Whether you're managing a project, planning your daily routine, or simply jotting down your ideas, our Todo list app is designed to make your life easier. Get started today and unlock the power of productivity!</p>
  </div>