body{
    background-image: url('./assets/back1.jpg');
}
.footer {
    background: #eee;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
  }
  
  